<section class="auth">
  <div class="auth__card">
    <div class="auth__title">{{ 'auth.register.title' | transloco }}</div>
    <p class="auth__subtitle">{{ 'auth.register.subtitle' | transloco }}</p>
    <div class="auth__notice">
      {{ 'auth.register.notice' | transloco }}
    </div>

    <form class="auth__form" [formGroup]="form" (ngSubmit)="submit()">
      <label class="auth__field">
        <span>{{ 'auth.register.first_name' | transloco }}</span>
        <input
          type="text"
          class="auth__input"
          formControlName="first_name"
          autocomplete="given-name"
          (input)="onFieldInput('first_name')"
        />
        @if (getFieldErrorKey('first_name')) {
          <small class="auth__hint auth__hint--error">{{ getFieldErrorKey('first_name') | transloco }}</small>
        }
      </label>

      <label class="auth__field">
        <span>{{ 'auth.register.last_name' | transloco }}</span>
        <input
          type="text"
          class="auth__input"
          formControlName="last_name"
          autocomplete="family-name"
          (input)="onFieldInput('last_name')"
        />
        @if (getFieldErrorKey('last_name')) {
          <small class="auth__hint auth__hint--error">{{ getFieldErrorKey('last_name') | transloco }}</small>
        }
      </label>

      <label class="auth__field">
        <span>{{ 'auth.register.email' | transloco }}</span>
        <input
          type="email"
          class="auth__input"
          formControlName="email"
          autocomplete="email"
          (input)="onFieldInput('email')"
        />
        @if (getFieldErrorKey('email')) {
          <small class="auth__hint auth__hint--error">{{ getFieldErrorKey('email') | transloco }}</small>
        }
      </label>

      <label class="auth__field">
        <span>{{ 'auth.register.username' | transloco }}</span>
        <input
          type="text"
          class="auth__input"
          formControlName="username"
          autocomplete="username"
          (input)="onFieldInput('username')"
        />
        @if (getFieldErrorKey('username')) {
          <small class="auth__hint auth__hint--error">{{ getFieldErrorKey('username') | transloco }}</small>
        }
      </label>

      <label class="auth__field">
        <span>{{ 'auth.register.password' | transloco }}</span>
        <input
          type="password"
          class="auth__input"
          formControlName="password"
          autocomplete="new-password"
          (input)="onFieldInput('password')"
        />
        @if (getFieldErrorKey('password')) {
          <small class="auth__hint auth__hint--error">{{ getFieldErrorKey('password') | transloco }}</small>
        }
      </label>
      @if (getFieldErrorKey('email') === 'auth.errors.email_taken') {
        <div class="auth__notice auth__notice--warning">
          <div>{{ 'auth.register.email_exists_notice' | transloco: { email: (form.get('email')?.value ?? '') } }}</div>
          <a routerLink="/password/request">{{ 'auth.password_request.link' | transloco }}</a>
        </div>
      } @else if (errorMessage) {
        <div class="auth__error">
          {{ errorMessage | transloco }}
        </div>
      }

      <button class="auth__submit" type="submit" [disabled]="isSubmitting">
        {{ 'auth.register.submit' | transloco }}
      </button>
    </form>

    <div class="auth__footer">
      <span>{{ 'auth.register.have_account' | transloco }}</span>
      <a routerLink="/login">{{ 'auth.register.login_link' | transloco }}</a>
    </div>

    <app-telegram-login></app-telegram-login>
  </div>
</section>
